.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-image {
    grid-column: 2/3;
}

.path {
    background: #000;
    width: 3px;
}

.path--vertical-long {
    height: 15rem;

}
.path--vertical-short {
    height: 10rem;
}
