.container {

}

.card {
  perspective: 150rem;
  //height: 20rem;
  position: relative;
  border-radius: var(--radius-primary);
  height: 20rem;

  &__side {
    height: 20rem;
    transition: all .8s;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: .8rem;

    &--front {
      background-color: red;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: green;
    }

  }

  &:hover &__side--front {
    background-color: yellow;
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
