@use "/styles/sass/main";

.container {
  margin: 0 5rem;

  @include main.respond(tab-port) {
    margin: 0 2rem;
  }
}

.row {
  display: flex;
  position: relative;

  &::before, &::after {

  }

  &::before {}

  &:nth-child(odd)::after {
    content: '';
    position: absolute;
    right: -15px;
    height: 99%;
    border-style: solid;
    top: 41px;

    border-left-width: 0;
    border-radius: 0 20px 20px 0;
    width: 15px;
    border-color: black;

    @include main.respond(phone) {
      left: -13px;
      border-radius: 0;
      border-top-width: 0;
      border-bottom-width: 0;
    }
  }
  &:nth-child(even)::after {
    content: '';
    position: absolute;
    height: 98.7%;
    border-right-width: 0;
    border-style: solid;
    top: 41px;
    left: -15px;
    width: 15px;
    border-radius: 20px 0 0 20px;
    border-color: black;

    @include main.respond(phone) {
      left: -1px;
      border-radius: 0;
      border-top-width: 0;
      border-bottom-width: 0;
    }
  }

  &--tab-land {
    display: none;

    @include main.respond(tab-land) {
      display: flex;
    }
  }

  &--tab-port {

  }

  &--phone {}
}

.column {
  flex: 1;

  @include main.respond(tab-land) {

    &:last-child {
      display: none;
    }
  }

  @include main.respond(tab-port) {
    &:nth-last-child(2) {
      display: none;
    }
  }

  @include main.respond(phone) {
    &:first-child {
      display: none;
    }
  }

}

.step {
  position: relative;

  &::before, &::after {
    content: '';
    width: 50%;
    position: absolute;
    top: 41px;

    border-top-width: 3px;
    border-top-style: solid;
    border-color: black;

    @include main.respond(phone) {
      display: none;
    }

  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
    left: auto;
  }

  &__content {
    padding: 0 3rem 3.5rem;

    @include main.respond(phone) {
      padding: 0;
    }

    // ? ::after?
    &::before {
      content: '';
      position: absolute;

      width: 0 ;
      left: 50%;
      margin-left: -.75px;
      height: 70px;
      top: 48px;
      border-top: 0;
      border-left: 2px solid;

      border-left-style: dashed;
      border-color: #ff5b41;

      @include main.respond(phone) {
        left: 30px;
        transform: translateY(-38px) rotate(90deg);
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &__header-text {
    text-align: center;
    padding-top: 4.8rem;

    @include main.respond(phone) {
      padding-top: 1.5rem;
    }
  }

  &__time {
    position: relative;
    text-align: center;
    padding-bottom: 31px;

    @include main.respond(phone) {
      text-align: left;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      z-index: 1;
      border-radius: 50%;
    }

    &::before {
      bottom: -2px;
      left: 50%;

      width: 27px;
      height: 27px;
      margin-left: -13.5px;
      margin-top: -13.5px;

      background: rgba(23, 7, 7, 0.1);

      @include main.respond(phone) {
        left: 0;
      }
    }
    &::after {
      left: 50%;
      bottom: 5px;

      width: 11px;
      height: 11px;
      margin-left: -5.5px;
      margin-top: -5.5px;

      background: #ff5b41;

      @include main.respond(phone) {
        left: 0;
      }
    }
  }

  &__list {


    &::before {} // todo: In defigroups, it is ::after
  }
}

