*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #__next {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../public/icons/sprite.svg");
    background-size: 100%;
  }
}

.dotsSvg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../public/icons/sprite.svg");
  background-size: 100%;

  @media (max-width: 56.25em) {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-primary-1: #212529;
  --color-primary-2: #343a40;
  --color-primary-3: #495057;
  --color-primary-4: #6c757d;
  --color-primary-5: #adb5bd;
  --color-primary-6: #ced4da;
  --color-primary-7: #dee2e6;
  --color-primary-8: #e9ecef;
  --color-primary-9: #f8f9fa;

  --radius-primary: .8rem;

  --shadow-primary: 0 2rem 4.5rem rgb(0 0 0 / 20%);
}

