

.container {
  min-height: 100vh;
  /*padding: 0 0.5rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > div {
  overflow: visible !important;
}

.logo {
  margin-right: 1rem !important;
  animation: MoveUpDown 4s linear infinite;
}


@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 56.25em) {
  .container {
    flex-direction: column;
    padding: 2rem;
  }

  .container > div {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .logo {
    /*min-width: 50% !important;*/
    /*min-height: 50% !important;*/
    margin-right: 0 !important;
    margin-bottom: 2rem !important;
  }
}

